#header {
  background-color: map-get($colors, primary);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index: 500;
  font-size: 16px;
  height:40px;
  line-height: 40px;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(128,128,128,1);
  -moz-box-shadow: 0px 1px 5px 1px rgba(128,128,128,1);
  box-shadow: 0px 1px 5px 1px rgba(128,128,128,1);

  .logo-wrapper {
    height: 100%;
    width: 50px;

    a {
      display: block;
      padding: 0 24px;
      height: 100%;
    }

    .logo {
      font-size: 24px;
      width: 50px;
      text-align: center;
      line-height: 40px;
      height: 100%;
      display: block;
    }
  }
    

  .link {
    padding: 0 20px;
    cursor: pointer;

    &:hover {
      background-color: darken(map-get($colors, primary), 2%);
    }

    &.active {
      background-color: darken(map-get($colors, primary), 5%);
    }

    a {
      display: block;
    }

  }
  
  .user {
    font-size: 16px;
    padding: 0 20px;
    height: 100%;
  }

  

}

