<div id="header"
  class="light-text"
  role="navigation"
  ng-class="vm.headerClass">

  <div class="logo-wrapper pull-left" title='iBuy'>
    <a ui-sref="tasks" class='light-text no-decoration'>
      <span class="logo">
        <i class="glyphicon glyphicon-ok"></i>
      </span>
    </a>
  </div>

  <div class='user pull-right' >
    <div class="user-wrapper" ng-if='vm.user.isSignedIn'>
      <span ng-bind='$root.user.userName'></span>
      &nbsp;|&nbsp;
      <a
        class='light-text'
        ng-click='vm.logout()'
        title='Sair'>
        Logout
      </a>
    </div>

    <div class="user-wrapper" ng-if='!$root.user.isSignedIn'>
      <a
        ng-click='vm.login()'
        class='light-text'
        title='Login'>
        Login
      </a>
    </div>
  </div>

  

</div>
