a {
  cursor: pointer;
  color: map-get($text-colors, link);
}

.light-text,
.light-text:hover,
.light-text:active,
.light-text:visited,
.light-text:focus {
  color: map-get($text-colors, light);
}

.no-decoration, 
.no-decoration:hover, 
.no-decoration:active, 
.no-decoration:visited, 
.no-decoration:focus {
  text-decoration: none;
}


label:first-letter{
  text-transform: capitalize;
}

.overflow {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.inner-shadow {
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

.main-view {
  background-color: map-get($colors, secondary);
  height: 1px;
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
  margin-top: 120px;
  overflow-x: hidden;
}

.view {
  position: relative;
  width: 100%;
  min-height: 100%;
  height: 1px;
  max-width: 1280px;
  margin: 0 auto;
}

.no-resize {
  resize: none;
}

.clickable {
  cursor: pointer;
}
