<div class="modal-header">
    <h3 class="modal-title" id="modal-title">List details</h3>
</div>
<form name="vm.form">
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-xs-12 form-group">
                <div class="form-group">
                    <input type="text" 
                        class="form-control" 
                        ng-model="vm.tasklist.title"/>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="vm.cancel()">Cancel</button>
        <button class="btn btn-danger" type="button" ng-click="vm.remove()" ng-if="vm.tasklist.id">Remove</button>
        <button class="btn btn-primary" type="submit" ng-click="vm.ok()">OK</button>
    </div>
</form>