<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Task details</h3>
</div>
<form name="vm.form">
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-xs-12 form-group">
                <div class="input-group">                    
                    <span class="input-group-addon">
                        <input type="checkbox" 
                        ng-model="task.status" 
                        ng-true-value="'completed'" 
                        ng-false-value="'needsAction'">
                    </span>
                    <input type="text" 
                        class="form-control" 
                        ng-model="vm.task.title"/>
                </div>
            </div>

            <div class="col-xs-12 form-group">
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="vm.task.due" is-open="vm.task.datepicker" close-text="Close"/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.task.datepicker = true;"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </div>
            </div>

            <div class="col-xs-12 form-group">
                <div class="form-group">
                    <textarea type="text" class="form-control no-resize" ng-model="vm.task.notes"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="vm.cancel()">Cancel</button>
        <button class="btn btn-danger" type="button" ng-click="vm.remove()">Remove</button>
        <button class="btn btn-primary" type="submit" ng-click="vm.ok()">OK</button>
    </div>

</form>