.tasks-view {
    padding: 15px 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: auto;
}

.sidebar {
    @extend .tasks-view;
    left: 0;
    width: 250px;
    overflow: auto;
    border-right: 1px solid #eee;

    ul {
        li {
            cursor: pointer;
        }
    }
}

.content {
    @extend .tasks-view;
    left: 255px;
    right: 0;
}

.toolbar {
    width: 100%;
    padding: 10px 0;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
}