<div class="view container-fluid" >
    <div class="sidebar" ng-if="vm.user.isSignedIn">
        <ul class="list-group">
            <li class="list-group-item" 
                ng-repeat="taskList in vm.lists" 
                ng-click="vm.loadTasks(taskList)">
                <span ng-bind="taskList.title" ng-class="{'text-info': taskList.id === vm.currentTaskList.id}"></span>
                <span class="glyphicon glyphicon-pencil pull-right" ng-click="$event.stopPropagation(); vm.openList(taskList)"></span>
            </li>
        </ul>


        <div class="text-right">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary" ng-click="$event.stopPropagation(); vm.openList()">New list</button>
            </div>
        </div>
    </div>

    <div class="content" ng-if="vm.user.isSignedIn">
        <div class="toolbar">
            <div class="row">
                <div class="col-xs-6">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary" ng-click="vm.add(vm.tasks.length - 1)">New task</button>
                    </div>
                </div>

                <div class="col-xs-6 text-right">
                    Showing:
                    <div class="btn-group" uib-dropdown dropdown-append-to-body>
                      <button id="split-button" type="button" class="btn btn-default">{{vm.currentFilter.text}}</button>
                      <button type="button" class="btn btn-default" uib-dropdown-toggle>
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                        <li role="menuitem" 
                            ng-repeat="filter in vm.filters" 
                            ng-if="vm.currentFilter.status != filter.status"
                            ng-click="vm.currentFilter = filter;">
                            <a ng-bind="filter.text"></a>
                        </li>
                      </ul>
                    </div>            
                </div>
            </div>
        </div>


        <div class="task" 
            ng-repeat="task in vm.tasks" 
            ng-if="vm.tasks.length > 0 && (task.status === vm.currentFilter.status || vm.currentFilter.status === 'all')">

            <div class="input-group">                    
                <span class="input-group-addon">
                    <input type="checkbox" 
                    ng-model="task.status" 
                    ng-true-value="'completed'" 
                    ng-false-value="'needsAction'"
                    ng-change="vm.save(task)">
                </span>

                <input type="text" 
                tabindex="$index" 
                id="{{task.id}}"
                class="form-control" 
                ng-model="task.title" 
                ng-keyup="vm.keyUp($event, $index, $last)"
                ng-change="vm.save(task)"/>

                <span class="input-group-btn">
                    <button class="btn btn-primary" ng-click="vm.details(task)">
                        <i class="glyphicon glyphicon-eye-open"></i>
                    </button>
                    <button class="btn btn-danger" ng-click="vm.remove(task)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>

